# Copy to .env locally. This file is intentionally ignored by Git.
FABRIC_BRIDGE_TOKEN=replace-with-a-random-local-token
FABRIC_MSP_ID=FacilityMSP
FABRIC_PEER_ENDPOINT=peer0.facility.aquatrust.internal:7051
FABRIC_PEER_HOST_ALIAS=
FABRIC_CHANNEL_NAME=aquatrust-channel
FABRIC_CHAINCODE_NAME=aquatrust-records
FABRIC_TLS_CERT_PATH=/crypto/facility/peers/peer0.facility.aquatrust.internal/tls/ca.crt
FABRIC_CERT_PATH=/crypto/facility/users/User1@facility.aquatrust.internal/msp/signcerts/cert.pem
FABRIC_PRIVATE_KEY_PATH=/crypto/facility/users/User1@facility.aquatrust.internal/msp/keystore
FABRIC_BRIDGE_HOST=0.0.0.0
FABRIC_BRIDGE_PORT=8099
FABRIC_BRIDGE_URL=http://127.0.0.1:8099
